{% extends 'layout.html.twig' %}

{% block content %}
    <div class="uk-text-center">
        <img id="logo"src="/assets/images/logo.png">
        <p>Stras'Bouquet</p>
    </div>
    <h1 class="uk-heading-line uk-text-center uk-text-uppercase"><span>Espace de gestion</span></h1>
    <section class="uk-container">
        <div class="uk-text-right">
            <a href="/CatalogueU/add" title="Ajouter un produit" class="uk-button uk-button-primary uk-margin">Ajouter</a>
        </div>
        <table class="uk-table uk-table-striped uk-box-shadow-large">
            <caption class="uk-text-center uk-margin uk-text-bold">Liste des produits unitaires</caption>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nom</th>
                    <th>Type</th>
                    <th>Prix</th>
                    <th>Couleur</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for catalogueU in catalogueUs %}
                    <tr>
                        <div id="modal-example-{{ catalogueU.id }}" uk-modal class="uk-modal-container">
                            <div class="uk-modal-dialog uk-modal-body uk-text-center uk-overflow-auto>">
                                <h3 class="uk-modal-title uk-text-danger ">Suppression de votre produit</h3>
                                <p class="uk-text-center">Attention, cette action est irréversible</p>
                                <p>
                                    <button class="uk-button uk-button-default uk-modal-close" type="button">Annuler</button>
                                    <button class="uk-button uk-button-danger " type="button">
                                        <a class="uk-text-secondary" href="/catalogueU/delete/{{ catalogueU.id }}">Supprimer</a>
                                    </button>
                                </p>
                            </div>
                        </div>
                        <td>{{ catalogueU.id }}</td>
                        <td>{{ catalogueU.nom }}</td>
                        <td>{{ catalogueU.type }}</td>
                        <td>{{ catalogueU.prix }} €</td>
                        <td>{{ catalogueU.couleur }}</td>
                        <td>
                            <a href="/CatalogueU/edit/{{ catalogueU.id }}" title="Modifier"><span uk-icon="pencil"></span></a>
                            <a href="#modal-example-{{ catalogueU.id }}" title="Supprimer" uk-toggle><span uk-icon="trash"></span></a>
                            <a href="/CatalogueU/show/{{ catalogueU.id }}" title="Détails"><span uk-icon="info"></span</a>
                        </td>
                    </tr>
                {% else %}
                    <td>Vous n'avez pas de produit</td>
                {% endfor %}
            </tbody>
        </table>
        <div class="uk-text-right">
            <a href="/CatalogueU/add" title="Ajouter un produit" class="uk-button uk-button-primary uk-margin">Ajouter</a>
        </div>
    </section>
{% endblock %}

