{% extends 'layout.html.twig' %}
{% block title %}
    {{ parent()}} Détails du produit.
{% endblock %}
{% block content %}
<section class="uk-container uk-padding-large">
    <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
        <div class="uk-card-media-left">
            <img  src="/{{ catalogueU.file1 }}" alt="{{ catalogueU.nom }}">
        </div>
        <div>
            <div class="uk-card-body">
                <h3 class="uk-card-title">Fiche produit</h3>
                <ul>
                    <li class="uk-margin">Nom : {{ catalogueU.nom }}</li>
                    <li class="uk-margin">Type : {{ catalogueU.type }}</li>
                    <li class="uk-margin">Prix : {{ catalogueU.prix }} €</li>
                    <li class="uk-margin">Couleur : {{ catalogueU.couleur }}</li>
                </ul>
                <div>
                    <a href="/CatalogueU/update/{{ catalogueU.id }}" title="Modification du produit" class="uk-button uk-button-primary">Modifier</a>
                    <a href="#modal-example" title="Supprimer le produit" class="uk-button uk-button-danger" uk-toggle>Supprimer</a>
                </div>
            </div>
        </div>
    </div>
    <div id="modal-example" uk-modal class="uk-modal-container">
        <div class="uk-modal-dialog uk-modal-body uk-text-center uk-overflow-auto>">
            <h3 class="uk-modal-title uk-text-danger ">Suppression de votre produit</h3>
            <p class="uk-text-center">Attention, cette action est irréversible</p>
            <p>
                <button class="uk-button uk-button-default uk-modal-close" title="Annuler la suppréssion du produit" type="button">Annuler</button>
                <button class="uk-button uk-button-danger " type="button">
                    <a class="uk-text-secondary" title="Supprimer le produit" href="/catalogueU/delete/{{ catalogueU.id }}">Supprimer</a>
                </button>
            </p>
        </div>
    </div>
    <div class="uk-text-right">
        <a href="/CatalogueU/index" title="Retour vers le catalogue unitaire" class="uk-button uk-button-primary uk-margin">Retour</a>
    </div>
</section>
{% endblock %}
