<form method="post">
    <input type="hidden" value="{{ bouquet.id }}" name="id">
    <input type="text" value="{{ bouquet.nom }}" name="nom">
    <input type="text" value="{{ bouquet.prix }}" name="prix">
    <input type="text" value="{{ bouquet.description }}" name="description">
    <input type="text" value="{{ bouquet.saisonnier }}" name="saisonnier">
    <input type="submit" value="Valider">
</form>
