<section class="uk-container">
    <form class="uk-margin uk-width-large uk-margin-auto uk-card uk-card-default uk-card-body uk-box-shadow-large"
          method="post"enctype="multipart/form-data">
        <legend class="uk-legend">{{title}}</legend><br>
        <input class="uk-inline uk-input uk-margin" type="hidden" value="{{ bouquet.id }}" name="id">
        <label for="nom">Nom:</label>
        <input class="uk-inline uk-input uk-margin" type="text" value="{{ bouquet.nom }}" name="nom">
        <label for="prix">Prix:</label>
        <input class="uk-inline uk-input uk-margin" type="text" value="{{ bouquet.prix }}" name="prix">
        <label for="description">Description:</label>
        <input class="uk-inline uk-input uk-margin" type="text" value="{{ bouquet.description }}" name="description">
        <select class="uk-select uk-margin uk-inline" name="saisonnier">
            <option type="text" value="Anniversaire">Anniversaire</option>
            <option type="text" value="Mariage">Mariage</option>
            <option type="text" value="Naissance">Naissance</option>
            <option type="text" value="Deuil">Deuil</option>
            <option type="text" value="Remerciement">Remerciement</option>
            <option type="text" value="Amour">Amour</option>
        </select>
        Selection de l'image :
        <div class="uk-margin" uk-margin>
            <div uk-form-custom="target: true">
                <input type="file" name="fileToUpload" id="fileToUpload" multiple>
                <input class="uk-input uk-form-width-medium" type="text" placeholder="Select file" disabled>
            </div>
            <button name="submit" type="submit" value="UploadImage" class="uk-button uk-button-primary">Submit</button>
        </div>
    </form>
</section>