<section class="uk-container">
    <form class="uk-margin uk-width-large uk-margin-auto uk-card uk-card-default uk-card-body uk-box-shadow-large" method="post">
        <legend class="uk-legend">{{title}}</legend><br>
        <input class="uk-inline uk-input uk-margin" type="hidden" value="{{ bouquet.id }}" name="id">
        <label for="nom">Nom:</label>
        <input class="uk-inline uk-input uk-margin" type="text" value="{{ bouquet.nom }}" name="nom">
        <label for="prix">Prix:</label>
        <input class="uk-inline uk-input uk-margin" type="text" value="{{ bouquet.prix }}" name="prix">
        <label for="description">Description:</label>
        <input class="uk-inline uk-input uk-margin" type="text" value="{{ bouquet.description }}" name="description">
        <label for="saisonnier">Saisonnier</label>
        <input class="uk-inline uk-input uk-margin" type="text" value="{{ bouquet.saisonnier }}" name="saisonnier">
        <input class="uk-button uk-button-primary uk-margin" type="submit" value="Valider">
    </form>
</section>
