<div class="uk-container">
    <div class="uk-text-right">
        <a href="/Bouquet/add" title="Ajouter un bouquet" class="uk-button uk-button-primary uk-margin">Ajouter</a>
    </div>
    <table class="uk-table uk-table-striped uk-box-shadow-large uk-table-responsive">
    <caption class="uk-text-center uk-margin uk-text-bold">Liste des bouquets</caption>
        <thead class="uk-background-secondary uk-light">
            <tr>
                <td >ID</td>
                <td>Nom</td>
                <td>Prix</td>
                <td>Description</td>
                <td>Evenements</td>
                <td class="uk-text-nowrap">Actions</td>
            </tr>
        </thead>
        <tbody>
        {% for bouquet in bouquets %}
            <tr>
                <div id="modal-example-{{ bouquet.id }}" uk-modal class="uk-modal-container">
                    <div class="uk-modal-dialog uk-modal-body uk-text-center uk-overflow-auto>">
                        <h3 class="uk-modal-title uk-text-danger ">Suppression de votre bouquet</h3>
                        <p class="uk-text-center">Attention, cette action est irréversible</p>
                        <p>
                            <button class="uk-button uk-button-default uk-modal-close" type="button">Annuler</button>
                            <button class="uk-button uk-button-danger " type="button"><a class="uk-text-secondary"
                            href="/Bouquet/delete/{{ bouquet.id }}">Supprimer</a></button>
                        </p>
                    </div>
                </div>
                <td>{{ bouquet.id }}</td>
                <td>{{ bouquet.nom}}</td>
                <td>{{ bouquet.prix }}</td>
                <td>{{ bouquet.description }}</td>
                <td>{{ bouquet.saisonnier }}</td>
                <td class="uk-text-nowrap uk-width-small"><a href="/Bouquet/update/{{bouquet.id}}"><span uk-icon="pencil"></span></a>
                    <a href="#modal-example-{{ bouquet.id }}" uk-toggle><span uk-icon="trash"></span></a>
                    <a href="/Bouquet/show/{{bouquet.id}}"><span uk-icon="info"></span></a></td>
            </tr>
        {% endfor %}
         </tbody>
    </table>
    <div class="uk-text-right">
        <a href="/Bouquet/add" title="Ajouter un bouquet" class="uk-button uk-button-primary uk-margin">Ajouter</a>
    </div>
</div>
