    <div class="uk-margin-bottom">
        <div class="uk-background-default uk-padding uk-box-shadow-large">
            <h3 id="produit-dispo" class="uk-heading-line"><span>Produits disponibles</span></h3>
            <div uk-filter="target: .js-filter">
                <div class="uk-grid-small uk-grid-divider uk-child-width-auto " uk-grid>
                    <div class="uk-align-center">
                    <div>
                        <ul id="btn-reset">
                            <li><a class="uk-button-primary" href="#">RESET</a></li>
                        </ul>
                    </div>
                    <div>
                        <ul class="uk-subnav uk-subnav-pill" uk-margin>
                            {% for type in types %}
                                <li uk-filter-control="filter: [data-type='{{ type.type }}']; group: type"><a href="#">{{ type.type }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div>
                        <ul class="uk-subnav uk-subnav-pill" uk-margin>
                            {% for color in colors %}
                                <li uk-filter-control="filter: [data-color='{{ color.couleur }}']; group: color'"><a href="#">{{ color.couleur }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div>
                        <ul class="uk-subnav uk-subnav-pill" uk-margin>
                            {% for name in names %}
                                <li uk-filter-control="filter: [data-name='{{ name.nom }}']; group: name"><a href="#">{{ name.nom }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    </div>
                    <ul class="uk-child-width-1-4@s uk-grid-match js-filter" uk-grid>
                        {% for unit in units %}
                            <li data-color="{{ unit.couleur }}" data-type="{{ unit.type }}" data-name="{{ unit.nom }}">
                                <div class="card-perso uk-padding uk-box-shadow-large">
                                    <h3>{{ unit.nom}}</h3>
                                        <img width="300" src="/{{ unit.file1 }}">
                                        <div class="card-perso-ban">{{ unit.type }}</div>
                                    <div class="card-perso-ctn">
                                        <p>Prix : {{ unit.prix }}€</p>
                                        <a href="./../../BouquetCat/add/{{ unit.id_catalogue_unitaire }}"><span uk-icon="icon: plus-circle"></span></a>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>