    <div class="uk-margin-bottom">
        <div class="uk-background-default uk-padding uk-box-shadow-large">
            <h3 class="uk-heading-line"><span>Items disponibles</span></h3>
            <table class="uk-table uk-table-striped uk-table-hover">
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Couleur</th>
                        <th>Type</th>
                        <th>Prix</th>
                    </tr>
                </thead>
                {% for unit in units %}
                    <tr>
                        <td>{{ unit.nom }}</td>
                        <td>{{ unit.couleur }}</td>
                        <td>{{ unit.type }}</td>
                        <td>{{ unit.prix }}€</td>
                        <td>
                            <a href="./../../BouquetCat/add/{{ unit.id }}"><span uk-icon="icon: plus-circle"></span></a>
                            <a href="/CatalogueU/show/{{ unit.id }}" title="Détails"><span uk-icon="info"></span></a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>