{% extends 'layout.html.twig' %}

{% block title %}
{{ parent() }} Créer un bouquet personnalisé
{% endblock %}

{% block content %}
    <div class="uk-background-default uk-padding uk-box-shadow-large">
        <h2 class="uk-heading-line uk-text-center"><span>Bouquets personnalisés</span></h2>
        <table class="uk-table uk-table-striped">
            <thead>
                <tr>
                    <th>ID Bouquet</th>
                </tr>
            </thead>
            {% for concept in concepts %}
            <tr>
                <td>Bouquet {{ concept.id }}</td>
                <td>
                    <a href="show/{{ concept.id }}"><span uk-icon="icon: file-edit"></span></a>
                    <a href="delete/{{ concept.id }}"><span uk-icon="icon: trash"></span></a>
                </td>
            </tr>
            {% endfor %}
        </table>
        <form action="create/{{ concept.id }}" method="post" class="uk-text-center">
            <input type="hidden" name="id_user" value="1">
            <input type="hidden" name="id_panier" value="1">
            <button type="submit" name="create" class="uk-button uk-button-primary">Je crée mon bouquet</button>
        </form>
    </div>
{% endblock %}