{% extends 'layoutp.html.twig' %}

{% block title %}
{{ parent() }} Créer un bouquet personnalisé
{% endblock %}

{% block content %}
    <div class="uk-background-default uk-padding uk-box-shadow-large">
        <h2 class="uk-heading-line uk-text-center"><span>Bouquets personnalisés</span></h2>
        <table class="uk-table uk-table-striped">
            <thead>
                <tr>
                    <th>ID Bouquet</th>
                </tr>
            </thead>
            {% for concept in concepts %}
            <tr>
                <td>Bouquet {{ concept.id }}</td>
                <td>
                    <a href="show/{{ concept.id }}"><span uk-icon="icon: file-edit"></span></a>
                    <a href="#delete-concept-{{ concept.id }}" title="Supprimer" uk-toggle><span uk-icon="icon: trash"></span></a>
                </td>
                <!-- Modal -->
                <div id="delete-concept-{{ concept.id }}" uk-modal>
                    <div class="uk-modal-dialog uk-modal-body">
                        <h3 class="uk-modal-title uk-text-center uk-text-danger">Suppression du bouquet</h3>
                        <p class="uk-text-center">Attention cette action est irreversible</p>
                        <div class="uk-flex uk-flex-around">
                            <button class="uk-button uk-button-default uk-modal-close" type="button">Annuler</button>
                            <a href="/Concept/delete/{{ concept.id }}" class="uk-button uk-button-danger">Supprimer</a>
                        </div>
                    </div>
                </div>
                <!-- End modal -->
            </tr>
            {% endfor %}
        </table>
        <div class="uk-text-center">
            <a href="create" class="uk-button uk-button-primary">Je crée mon bouquet</a>
        </div>
    </div>
{% endblock %}