{% extends "./layout.html.twig" %}
{% block title %}
    {{ parent()}} Liste Utilisateurs
{% endblock %}
{% block content %}
    <div class="uk-text-center">
        <img id="logo"src="/assets/images/logo.png">
        <p>Stras'Bouquet</p>
    </div>
    <h1 class="uk-heading-line uk-text-center uk-text-uppercase"><span>Espace de gestion</span></h1>
<section class="uk-container uk-padding-large">
    <h2 class="uk-text-center">Liste des utilisateurs</h2>

    <table class="uk-table uk-table-divider uk-table-hover uk-margin uk-width-large uk-margin-auto uk-card uk-card-default uk-card-body uk-box-shadow-large">
        <thead class="uk-background-muted">
        <th>Nom</th>
        <th>Prénom</th>
        <th>Mail</th>
        <th>Téléphone</th>
        <th class="uk-table-expand">Actions</th>
        </thead>
        <tbody>

    {% for user in users %}
        <tr>

            <div id="modal-example-{{ user.id }}" uk-modal class="uk-modal-container">
                <div class="uk-modal-dialog uk-modal-body uk-text-center uk-overflow-auto>">
                    <h3 class="uk-modal-title uk-text-danger">Suppression de l'utilisateur {{ user.firstname}} {{ user.lastname}}</h3>
                    <p class="uk-text-center">Attention, cette action est irréversible</p>
                    <p>
                        <button class="uk-button uk-button-default uk-modal-close" type="button">Annuler</button>
                        <button class="uk-button uk-button-danger " type="button">
                            <a class="uk-text-secondary" href="/User/delete/{{ user.id }}">Supprimer</a>
                        </button>
                    </p>
                </div>
            </div>

            <td>{{ user.lastname }}</td>
            <td>{{ user.firstname }}</td>
            <td>{{ user.mail }}</td>
            <td>{{ user.num_Tel }}
            <td>
                <a href="/User/showAd/{{user.id}}"><span uk-icon="info"></span></a>
                <a href="/User/update/{{ user.id }}"><span uk-icon="pencil"></span></a>
                <a href="#modal-example-{{ user.id }}" uk-toggle><span uk-icon="trash"></span></a>
            </td>
        </tr>


    {% endfor  %}
        </tbody>
    </table>
</section>
{% endblock content %}
