{% extends 'layoutp.html.twig' %}
{% block title %}
    {{ parent()}} Profil
{% endblock %}
{% block content %}
    <div class="uk-container uk-margin-top">
        <h3 class="uk-text-center">Mon profil</h3>
        <div class="uk-card uk-card-default uk-width-1-1@m">
            <div class="uk-card-header uk-background-muted">
                <div class="uk-grid-small uk-flex-middle" uk-grid>
                    <div class="uk-width-expand">
                        <h3 class="uk-card-title uk-margin-remove-bottom">{{ user.firstname }} {{ user.lastname }}</h3>
                        <p class="uk-text-meta uk-margin-remove-top">Adresse mail: {{ user.mail }}</p>
                    </div>
                </div>
            </div>
            <div class="uk-card-body">
                <p class="uk-text-meta uk-margin-remove-top">Numéro de téléphone: {{ user.num_Tel }}</p>
                <h3>Commande la plus récente </h3>
                <table class="uk-table">
                    <thead>
                    <tr>
                        <th>DATE</th>
                        <th>PRIX</th>
                    </tr>
                    </thead>
                    <tr>
                        <td>{{ cart[0].date }}</td>
                        <td>{{ cart[0].prix_total }}</td>
                    </tr>
                    <tr>
                        <th>CONTENU</th>
                    </tr>
                    {% for item in cart %}
                        <tr>
                            <td>{{ item.quantite }} * {{ item.nom }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="uk-card-footer uk-text-center">
                <a href="../update/{{ user.id }}" class="uk-button">Modifier</a>
                    <a href="#modal-example" class="uk-button uk-button-danger" uk-toggle>Supprimer mon compte</a>
                <a href="../delete/{{ user.id }}" class=""></a>
            </div>
        </div>
    </div>
    <!-- This is the modal -->
    <div id="modal-example" uk-modal class="uk-modal-container">
        <div class="uk-modal-dialog uk-modal-body uk-text-center uk-overflow-auto>">
            <h3 class="uk-modal-title uk-text-danger ">Suppression de votre compte utilisateur</h3>
            <p class="uk-text-center">Attention, cette action est irréversible</p>
            <p>
                <button class="uk-button uk-button-default uk-modal-close" type="button">Annuler</button>
                <button class="uk-button uk-button-danger " type="button"><a class="uk-text-secondary" href="../delete/{{ user.id }}">Supprimer</a></button>
            </p>
        </div>
    </div>
{% endblock %}