{% extends 'layoutp.html.twig' %}
{% block title %}
    {{ parent()}} Accueil
{% endblock %}


{% block content %}

    <div class="uk-container">
        <div class="uk-child-width-1-2@s uk-grid-match" uk-grid>
            {% for bouquet in bouquets %}
            <div class="uk-card">
                <div class="uk-card-header">
                    <h3 class="uk-card-title">{{ bouquet.nom}}</h3>
                </div>
                <div class="uk-card-body"><p>{{ bouquet.prix }}</p></div>
                <div class="uk-card-footer">
                    <a href="/bouquet/show/{{bouquet.id}}">Voir plus</a> ||
                    <a href="/cart/addBouquetCart/{{bouquet.id}}">Ajouter au Panier</a></div>
            </div>
            {% endfor %}
            {{ dump(bouquets) }}
        </div>
    </div>

    <button id="panier" class="{{ class }}"><a href="/Cart/showCart/{{ panier }}"> Voir le panier</a></button>

{% endblock %}