{% extends 'layoutp.html.twig' %}
{% block title %}
    {{ parent()}} Accueil
{% endblock %}
{% block content %}
    {% if bouquets == null %}
        <h3>Désolé, la recherche n'a rien retourné. Veuillez réessayer avec d'autres termes.</h3>
    {% else %}
    <div id="recherche">
        <button class="uk-button uk-button-primary" type="button">Filtrer</button>
        <div uk-dropdown>
            <ul class="uk-nav uk-dropdown-nav">
                {% for saisonnier in saisonniers %}
                <li class="uk-nav-divider"></li>
                <li><a href="/Front/filter/{{ saisonnier.saisonnier }}">{{saisonnier.saisonnier}}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
        <div class="uk-child-width-1-4@s uk-grid-match" uk-grid>
            {% for bouquet in bouquets %}
                <div class="card-perso uk-padding uk-box-shadow-large">
                    <h3>{{ bouquet.nom}}</h3>
                    <img width="300" src="/{% for image in images %}{% if image.id_bouquet == bouquet.id %}{{ image.file1 }}{% endif %}{% endfor %}">
                    <div class="card-perso-ban"><i>{{ bouquet.saisonnier }}</i></div>
                    <div class="card-perso-ctn">
                        <p>Prix : {{ bouquet.prix }}€</p>
                        <a class="uk-button uk-button-primary" href="/cart/addBouquetCart/{{bouquet.id}}">Ajouter au Panier</a>
                        <a id="details" class="uk-button uk-button-small" href="#modal-example-{{ bouquet.id }}" uk-toggle>Voir plus</a>
                    </div>
                </div>
                <div id="modal-example-{{ bouquet.id }}" uk-modal>
                    <div class="uk-modal-dialog uk-text-center">
                        <button class="uk-modal-close-default" type="button" uk-close></button>
                        <div class="uk-modal-header">
                            <h2 class="uk-modal-title">{{ bouquet.nom }}</h2>
                            <img class="modal-img-arround" width="400" src="/{% for image in images %}{% if image.id_bouquet == bouquet.id %}{{ image.file1 }}{% endif %}{% endfor %}">
                        </div>
                        <div class="uk-modal-body">
                            <dl class="uk-description-list">
                                <dt>Description</dt>
                                <dd>{{ bouquet.description }}</dd>
                            </dl>
                            <h3>Prix: {{ bouquet.prix }}€</h3>
                        </div>
                        <div class="uk-modal-footer">
                            <a  class="uk-button uk-button-primary" href="/cart/addBouquetCart/{{bouquet.id}}">Ajouter au Panier</a>
                            <button class="uk-button uk-button-default uk-modal-close" type="button">Retour</button>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% if session.id_panier != null %}
     <a class="uk-button uk-button-secondary uk-margin" href="/Cart/showCart/{{ panier }}"> Voir le panier</a>
        {% endif %}
    {% endif %}
{% endblock %}