    {% extends session.role == "admin" and session.id_panier != id
    ? 'layout.html.twig'
    : 'layoutp.html.twig' %}
{% block title %}
    {{ parent()}} Panier
{% endblock %}
{% block content %}
    {% if session.role == "admin" and session.id_panier != id %}
        <h1 class="uk-text-center">Détails de la commande</h1>
    {% else %}
        <h1 class="uk-text-center">Votre sélection d'articles</h1>
    {% endif %}
    {% if priceB.totalBouquet != 0 %}
        <table class="titre-th uk-table uk-table-divider uk-box-shadow-large">
            <thead>
            <tr>
                <th class="uk-background-secondary">Bouquets</th>
                <th class="uk-background-secondary">Prix</th>
                <th class="uk-background-secondary">Prix unitaire</th>
                <th class="uk-background-secondary">Quantité</th>
            </tr>
            </thead>
            <tbody>
            {% for bouquet in panier %}
                <tr>
                    <td>{{ bouquet.nom }}</td>
                    <td>{% set priceBouquet = bouquet.prix  * bouquet.quantite  %} {{ priceBouquet }}€</td>
                    <td>{{ bouquet.prix }}€</td>
                    <td>
                        {% if session.role != "admin" and session.id_panier == id %}
                            <a href="/cart/addBouquetCart/{{ bouquet.id }}">
                                <span uk-icon="plus-circle"></span>
                            </a>
                        {% endif %}
                            {{ bouquet.quantite }}
                        {% if session.role != "admin" and session.id_panier == id %}
                            <a href="/cart/deleteBouquet/{{ bouquet.id }} ">
                                <span uk-icon="minus-circle"></span>
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
    {% if priceC.totalConcept != 0 %}
        <table class="titre-th uk-table uk-table-divider uk-box-shadow-large">
            <thead>
            <tr>
        {% if session.role == "admin" and session.id_panier != id %}
            <th class="uk-background-secondary">Bouquet personnalisé</th>
        {% else %}
            <th class="uk-background-secondary">Votre bouquet</th>
        {% endif %}
            <th class="uk-text-center uk-background-secondary">Contenu</th>
            <th class="uk-background-secondary">Prix</th>
            </tr>
            </thead>
            <tbody>
            {% for concept in concepts %}
                <tr>
                    <td>{{ concept.id }}</td>
                    <td>{{ concept.produit }}</td>
                    <td>{{ concept.prix_total }}€</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
    <h3 class="uk-text-right">Total du panier: {{ priceTotal }}€</h3>
    {% if session.role == "admin" and user.id != 2 and session.id_panier != id %}
       <a class="uk-button uk-button-secondary uk-align-left" href="/Home/index/">Retour</a>
    {% else %}
        <a class="uk-button uk-button-primary uk-align-right" href="/Cart/confirmCart/{{ session.id_panier }}">Valider le panier</a>
        <a class="uk-button uk-button-secondary uk-align-left" href="/Front/bouquets">Retour</a>
    {% endif %}
{% endblock %}