{% extends session.role == "admin" and user.role != "admin" and session.id_panier != panier[0].id_panier
    ? 'layout.html.twig'
    : 'layoutp.html.twig' %}

{% block title %}
    {{ parent()}} Accueil
{% endblock %}


{% block content %}

    <table class="uk-table uk-table-divider uk-box-shadow-large">
        <thead>
        <tr>
            <th>Nom du bouquet</th>
            <th>Prix</th>
            <td>Quantité</td>
        </tr>
        </thead>
        <tbody>
        {% for bouquet in panier %}
            <tr>
                <td>{{ bouquet.nom }}</td>
                <td>{% set priceBouquet = bouquet.prix  * bouquet.quantite  %} {{ priceBouquet }} € ({{ bouquet.prix }}€ unité)</td>
                <td> <a href="/cart/addBouquetCart/{{ bouquet.id }}"><span uk-icon="plus-circle"></span></a>
                    {{ bouquet.quantite }}
                    <a href="/cart/deleteBouquet/{{ bouquet.id }} "><span uk-icon="minus-circle"></span></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td>Prix total des Bouquets</td>
                <td>{{ priceB.total }}</td>
            </tr>
        </tfoot>
    </table>

    <h3>Total du panier: {{ priceCart.total }}</h3>
    {% if session.role == "admin" and user.id != 2 and session.id_panier != panier[0].id_panier %}
       <a class="uk-button uk-button-secondary" href="/Home/index/">RETOUR</a>
    {% else %}
        <a class="uk-button uk-button-primary" href="/Cart/confirmCart/{{ session.id_panier }}">Valider le panier</a>
        <a class="uk-button uk-button-secondary" href="/Cart/showBouquet">RETOUR</a>
    {% endif %}
{% endblock %}