{% extends session.role == "admin" and user.role != "admin" and session.id_panier != panier[0].id_panier
    ? 'layout.html.twig'
    : 'layoutp.html.twig' %}

{% block title %}
    {{ parent()}} Accueil
{% endblock %}


{% block content %}

    <table class="uk-table uk-table-divider uk-box-shadow-large">
        <thead>
        <tr>
            <th>Nom du bouquet</th>
            <th>Prix</th>
            <td>Quantité</td>
        </tr>
        </thead>
        <tbody>
        {% for bouquet in panier %}
            <tr>
                <td>{{ bouquet.nom }}</td>
                <td>{% set priceBouquet = bouquet.prix  * bouquet.quantite  %} {{ priceBouquet }}€ ({{ bouquet.prix }}€ unité)</td>
                <td>{{ bouquet.quantite }}</td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td>Prix total des Bouquets</td>
                <td>{{ priceB.total }}</td>
            </tr>
        </tfoot>
    </table>

    <h3>Total du panier: {{ priceCart.total }}</h3>
    <button action="/Cart/Validate">Valider panier</button>

    {% if session.role == "admin" and user.id != 2 and session.id_panier != panier[0].id_panier %}
        <button><a href="/Home/index/">RETOUR</a></button>
    {% else %}
        <button><a href="/Cart/showBouquet">RETOUR</a></button>
    {% endif %}

{% endblock %}