{% extends 'layoutp.html.twig' %}
{% block title %}
    {{ parent()}} Accueil
{% endblock %}


{% block content %}
    <div>
        <h1>Bienvenue chez Stras'Bouquet !</h1>
    </div>
    <!-- Concept -->
    <section class="uk-section" id="index-concept">
        <h2>Notre concept</h2>
        <p>Laissez libre court à votre <strong>créativité</strong>, et concevez vous-même vos bouquets à partir de notre catalogue de fleurs, feuilles et herbes.</p>
        <p>Essayez maintenant !</p>
        <a href="/Concept/create" class="uk-button uk-button-primary">Je crée mon bouquet</a>
    </section>
    <!-- Season -->
    <section class="uk-section" id="index-season">
        <h2>Le bouquet de saison</h2>
    </section>
    <!-- Bouquets -->
    <section class="uk-section" id="index-bouquets">
        <h2>Nos bouquets</h2>
        <h3>Pour toutes les occasions</h3>
        <div class="uk-child-width-1-4@s uk-grid-match" uk-grid>
            {% for bouquet in bouquets %}
                <div class="uk-card uk-card-default">
                    <div class="uk-card-header">
                        <h3 class="uk-card-title">{{ bouquet.nom}}</h3>
                        <div class="uk-card-badge uk-label">{{ bouquet.saisonnier }}</div>
                    </div>
                    <div class="uk-card-body">
                        <img width="300" src="/{% for image in images %}{% if image.id_bouquet == bouquet.id %}{{ image.file1 }}{% endif %}{% endfor %}">

                        <p class="uk-text-center">{{ bouquet.prix }}€</p>
                    </div>
                    <div class="uk-card-footer uk-text-center">
                        <a class="uk-button uk-button-default uk-button-small uk-margin" href="#modal-example-{{ bouquet.id }}" uk-toggle>Voir plus</a>
                    </div>
                </div>

                <div id="modal-example-{{ bouquet.id }}" uk-modal>
                    <div class="uk-modal-dialog uk-text-center">
                        <button class="uk-modal-close-default" type="button" uk-close></button>
                        <div class="uk-modal-header">
                            <h2 class="uk-modal-title">{{ bouquet.nom }}</h2>
                            <img width="400" src="/{% for image in images %}{% if image.id_bouquet == bouquet.id %}{{ image.file1 }}{% endif %}{% endfor %}">
                        </div>
                        <div class="uk-modal-body">
                            <dl class="uk-description-list">
                                <dt>Description</dt>
                                <dd>{{ bouquet.description }}</dd>
                            </dl>
                            <h3>Prix: {{ bouquet.prix }}€</h3>
                        </div>
                        <div class="uk-modal-footer">
                            <a  class="uk-button uk-button-primary" href="/cart/addBouquetCart/{{bouquet.id}}">Ajouter au Panier</a>
                            <button class="uk-button uk-button-default uk-modal-close" type="button">Retour</button>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <a href="/Front/bouquets" class="uk-button uk-button-primary">Accéder au catalogue</a>
    </section>
{% endblock %}


{% block javascript %}
<script>
var log = sessionStorage.getItem("log");
var role = '{{ session.role }}';
var user = '{{ session.user }}';
if ( role === "disconnect") {
    sessionStorage.clear();
}
if (log==null) {
    if (role==='client'){
        UIkit.notification("Bienvenue {{ user.firstname ~" "~ user.lastname }}", {status:'success'});
        sessionStorage.setItem("log", "logged");
    }
}
</script>
{% endblock %}