<!-- Menu Desktop -->
<nav class="uk-navbar-container uk-visible@m" uk-navbar>
    <div class="uk-navbar-center">
        <ul class="uk-navbar-nav">
            <li><a href="/Front/index">Strasbouquet</a></li>
            <li>
                <a href="/Front/bouquets">Bouquets</a>
                <div class="uk-navbar-dropdown">
                    <ul class="uk-nav uk-navbar-dropdown-nav">
                        <li><a href="/Front/filter/Mariage">Mariage</a></li>
                        <li><a href="/Front/filter/Remerciement">Remerciement</a></li>
                        <li><a href="/Front/filter/Anniversaire">Anniversaire</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <a href="/Concept/index">Bouquet personnalisé</a>
            </li>
            <li>
                <a href="/Front/contact">Contact</a>
            </li>
            {% if session.role == "disconnect" %}
                <li>
                    <a href="/User/add">Inscription</a>
                </li>
                <li>
                    <a href="/Account/login">Connexion</a>
                </li>
            {% endif %}
            {% if session.role != "disconnect" %}
              <li>
                    <a href="/Account/logout">Déconnexion</a>
              </li>
              <li>
                  <a href="/User/show/{{ session.user }}">Profil</a>
              </li>
                {% if session.id_panier != null %}
                    <li>
                        <a href="/Cart/showCart/{{ session.id_panier }}">
                            <img src="/assets/images/panier.png" alt="panier" />
                        </a>
                    </li>
                {% endif %}
            {% endif %}
            {% if session.role == "admin" %}
              <li>
                  <a href="/Home/index/">Panel admin</a>
              </li>
            {% endif %}
        </ul>
    </div>

    <div class="uk-navbar-right">
        <div class="uk-navbar-item">
                <form action="/Front/recherche" method="post">
                    <input class="uk-input uk-form-width-small uk-form-small uk-border-rounded" type="text" name="mot" placeholder="ex: Bouquet">
                    <button class="uk-button uk-button-primary uk-border-rounded uk-button-small" type="submit" name="form" value="Rechercher">Rechercher</button>
                </form>
        </div>
    </div>
</nav>

<!-- Menu mobile -->
<nav class="uk-navbar uk-navbar-container uk-box-shadow-medium uk-hidden@m" id="menu" uk-navbar>
    <div class="uk-navbar-left">
        <a class="uk-navbar-toggle" href="#" uk-toggle="target: #menu-mobile">
            <span uk-navbar-toggle-icon></span> <span class="uk-margin-small-left">Menu</span>
        </a>
    </div>
    <div class="uk-navbar-center">
        <a href="/Front/index" class="uk-navbar-item">
            <img src="/assets/images/logo.png" />
        </a>
    </div>
    <ul class="uk-navbar-right uk-margin-right">
        <ul class="uk-navbar-nav">
            {% if session.role == "disconnect" %}
                <li>
                    <span class="uk-margin-right uk-margin-top" uk-toggle="target: #modaleIndex" uk-icon="icon: sign-in;  ratio: 2"></span>
                </li>
                <!-- This is the modal -->
                <div id="modaleIndex" class="uk-flex-top" uk-modal>
                    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical" >
                        <div class="uk-position-center">
                            <a class="uk-button uk-button-primary" href="/User/add">Inscription</a>
                            <a class="uk-button uk-button-default" href="/Account/login/">Se connecter</a>
                        </div>
                    </div>
                </div>
            {% else %}
                <a href="/User/show/{{ session.user }}">
                    <span class="uk-margin-right uk-margin-top" uk-icon="icon: user;  ratio: 2"></span>
                </a>
                <a href="/Account/logout">
                    <span class="uk-margin-right uk-margin-top" uk-icon="icon: sign-out;  ratio: 2"></span>
                </a>
            {% endif %}
        </ul>
    </ul>
</nav>
<div class="uk-offcanvas-content">
    <div id="menu-mobile" uk-offcanvas="overlay: true">
        <div class="uk-offcanvas-bar">
            <button class="uk-offcanvas-close" type="button" uk-close></button>
            <ul class="uk-nav uk-nav-default">
                <li>
                    <a href="/Front/index">Accueil</a>
                </li>
                <li>
                    <a href="/Front/bouquets">Bouquets</a>
                </li>
                <li>
                    <a href="/Concept/index">Bouquet personnalisé</a>
                </li>
                <li>
                    <a href="/Front/contact">Contact</a>
                </li>
                {% if session.role != "disconnect" %}
                    <li>
                        <a href="/Account/logout">Déconnexion</a>
                    </li>
                    <li>
                        <a href="/User/show/{{ session.user }}">Profil</a>
                    </li>
                    {% if session.id_panier != null %}
                        <li>
                            <a href="/Cart/showCart/{{ session.id_panier }}">
                                <img src="/assets/images/panier.png" alt="panier" />
                            </a>
                        </li>
                    {% endif %}
                {% endif %}
                {% if session.role == "admin" %}
                    <li>
                        <a href="/Home/index/">Panel admin</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>